* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.teko {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

@media (max-width: 760px) {
  body {
    font-size: 30%;
  }
}

div.gradedbgp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  z-index: 0;
}

div.gradedbgp h1 {
  font-family: "Pacifico";
  font-size: 7em;
  color: #b89d47;
  width: 100%;
  height: 10%;
  margin: 0;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 20%;
}

@media (max-width: 760px) {
  div.gradedbgp h1 {
    font-family: "Pacifico";
    font-size: 4rem;
    color: #b89d47;
    width: 100%;
    height: 10vh;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 15vh;
  }
}

div.gradedbgp h2 {
  font-family: "Teko", sans-serif;
  font-size: 1.8em;
  color: #b89d47;
  width: 100%;
  height: 10%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 35%;
}

@media (max-width: 760px) {
  div.gradedbgp h2 {
    font-family: "Teko", sans-serif;
    font-size: 2rem;
    color: #b89d47;
    width: 80vw;
    height: 10vh;
    margin: 0;
    left: 10vw;

    text-align: center;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 25vh;
  }
}

div.gradedbgp p {
  font-family: "Teko";
  font-size: 1.5em;
  color: #b89d47;
  width: 100%;
  height: 10%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 40%;
}

@media (max-width: 760px) {
  div.gradedbgp p {
    font-family: "Teko";
    font-size: 1.5rem;
    color: #b89d47;
    width: 60%;
    height: 10vh;
    margin: auto;
    left: 15%;
    right: 15%;
    text-align: center;
    justify-content: center;
    top: 32vh;
  }
}

.letusform {
  width: auto;
  height: auto;
  font-family: "Teko";
  font-size: 1.5em;
  font-style: bold;
  color: #b89d47;
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 0% 3%;
  justify-self: center;
  align-items: center;
  z-index: 1000;
  margin-bottom: 50px;
  top: 45vh;
  left: 10vw;
  right: 10vw;
}

@media (max-width: 760px) {
  div form.letusform {
    font-family: "Teko";
    font-size: 5em;
    font-style: bold;
    color: #b89d47;
    width: 100%;
    height: 50%;
    display: flex;
    position: absolute;
    flex-direction: column;
    padding-left: 20%;
    gap: 0% 20%;
    z-index: 1000;
  }
}

div form div.fullname {
  width: 100%;
  height: 50%;
  font-family: "Teko";
  font-size: 1.1em;

  text-align: left;
}

@media (max-width: 760px) {
  div form div.fullname {
    width: 100%;
    height: auto;
  }
}

div form input[type="text"] {
  width: 100%;
  height: 50%;
  font-family: "Teko";
  font-size: 1.1em;
  border-color: #b89d47;
  background-color: rgba(245, 222, 179, 0);
}

@media (max-width: 760px) {
  div form input[type="text"] {
    width: 80%;
    height: 50%;
    font-family: "Teko";
    border-color: #b89d47;
    background-color: rgba(245, 222, 179, 0);
  }
}

div form div.email {
  width: 100%;
  height: 100%;
  font-size: 1.1em;
  text-align: left;

  /* left: 14.5vw; */
}

@media (max-width: 760px) {
  div form div.email {
    width: 100%;
    height: auto;
  }
}

div form input[type="email"] {
  width: 100%;
  height: 60%;
  font-family: "Teko";
  font-size: 1.1em;
  border-color: #b89d47;
  background-color: rgba(245, 222, 179, 0);
  align-self: flex-end;
}

@media (max-width: 760px) {
  div form input[type="email"] {
    width: 80%;
    height: 50%;
    font-family: "Teko";
    font-size: 1em;
    border-color: #b89d47;
    background-color: rgba(245, 222, 179, 0);
  }
}

div form div.send {
  width: 60%;
  height: 60%;
  padding-top: 0vh;

  position: relative;
  /* align-self: center; */
}

@media (max-width: 760px) {
  div form div.send {
    width: 80%;
    height: 50%;
    right: 8vw;
  }
}

div form input[type="submit"] {
  width: 100%;
  height: 60%;
  font-family: "Teko";
  font-size: 1.3em;
  color: white;
  background-color: #b89d47;
  border: none;
  text-align: center;
}

@media (max-width: 760px) {
  div form input[type="submit"] {
    width: 100%;
    height: auto;
    font-family: "Teko";
    font-size: 1em;
    color: white;
    background-color: #b89d47;
    border: none;
    text-align: center;
  }
}
